@import "tailwindcss";

:root {
    font-family: "Segoe UI", "Microsoft YaHei", sans-serif;
    user-select: none; /* 禁止用户像选网页文字一样选中文本，更像 App */
}

body {
    margin: 0;
    background-color: #0F172A; /* 防止加载时的白屏闪烁 */
}